:root {
    font-size: 1.35rem;
    letter-spacing: -0.1rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Manrope', sans-serif;
    min-height: 100vh;
    background-color: #ffffff;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 40px ), repeating-linear-gradient( #c4c4c455, #c4c4c4 );
}

.container {
    flex-direction: column;
    color: #eeeeee;
    justify-content: center;
    height: 50%;
    width: 30%;
    min-width: 400px;
    margin: auto;
    background: #71a0a5;
    border: 2px solid white;
    border-radius: 12px;
    padding: 15px;

    & .title {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    & .bx {
        font-size: 30px;
    }

    & .inputs {
        margin-top: 1rem;
        display: flex;
        gap: 20px;
        width: 100%;

        & input {
            padding: 5px 10px;
            width: 100%;
            border: none;
            border-radius: 6px;
            color: gray;
        }

        & input:focus {
            outline: none;
        }

        & input::placeholder {
            color: rgb(177, 177, 177);
        }
    }

    & .buttons {
        margin-top: 1rem;
        display: flex;
        gap: 20px;
        width: 100%;

        & button {
            padding: 7.5px 10px;
            width: 100%;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            background-color: #71a0a5;
            border: 2px solid white;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
            transition: all 0.2s ease-in-out;
            color: white;
            font-size: 18px;
        }

        & button:hover {
            transform: scale(1.02);
            background-color: #5bcaaa;
        }
    }

    & .outputs {
        margin-top: 1rem;
        display: flex;
        gap: 20px;
        text-align: center;
        justify-content: center;

        & label {
            flex: 3;
        }

        & textarea {
            flex: 9;
            color: gray;
            border-radius: 6px;
            border: none;
            margin: auto;
            padding: 7.5px 10px;
        }

        & textarea:focus {
            outline: none;
        }
    }
}